<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/styles.css">

	<title>To Do List</title>
</head>
<body>
        <div class="box" id="heading">
            <h1> Login </h1>
        </div>

        <div class="box box-login">
            <form action="/login" method="POST">
                <input type="email" class="item" name="username" id="email" placeholder="Email" autocomplete="off">
                <input type="password" class="item" name="password" id="password" placeholder="Password" autocomplete="off">
                <button class="button" type="submit">Login</button>
                <p>Don't have an account? <a href="/register">Register</a></p>
            </form>

        </div>
        
        <footer>Made by Santi</footer>

</body>
</html>